<div class="container">
  <div class="row content">
    <div class=" col-xs-2  sidenav">
      <h1><i class='glyphicon glyphicon-user'></i> My Activity</h1>
      <h4>Main-menu</h4>
      <ul style="list-style-type:none">
        <li><i class="fa-solid fa-calculator"></i> <a href="Calculator" i class='bx bx-radio-circle'
            style='color:#FAFAFA'> Calculator</a></li>
        <li><i class="fa-regular fa-chart-pie"></i> <a href="chart" i class='bx bx-radio-circle' style='color:#FAFAFA'>
            Chart</a></li>
        <li><i class="fa-brands fa-wpforms"></i> <a href="nestedform" i class='bx bx-radio-circle'
            style='color:#FAFAFA'> Nested</a></li>
        <li><i class="fa-brands fa-wpforms"></i> <a href="paginator" i class='bx bx-radio-circle' style='color:#FAFAFA'>
             paginator</a></li>
      </ul>
    </div>
  </div>
</div>